[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
sklearn = "*"
scikit-learn = "==0.24.2"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.8"
